@use "../_button.module.scss" as button;
@use "../_color.module.scss" as color;
@use "../_font.module.scss" as font;

.aboutsection {
 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 16px 64px 16px;
  gap: 16px;

  .abouttext {
    max-width: 550px;
    padding: 8px;

    h3 {
      font-size: 1.75rem;
    }

    ul {
      padding: 0;

      li {
        list-style: none;
        margin-top: 10px;

        i {
          color: color.$tertiary-color;
          margin-inline-end: 4px;
        }
      }
    }
  }
}

.aboutbutton {
  @extend %primaryButton;
  border-radius: 4px;
  height: 48px;
  margin: 8px 0;

  &::after {
    content: "-->";
    margin-inline-start: 4px;
    letter-spacing: 2px;
  }

  &:hover {
    letter-spacing: 0.5px;
  }
}

.numbersection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;
  flex-wrap: wrap;
  background-color: rgb(247, 247, 247);
  padding: 32px 0;
  min-height: 250px;
}
