@use "../button.module" as button;
.contactsection{
    padding: 16px 16px 64px 16px;
  
    .maincontant{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
    }

.cardscontainer{
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 700px) {
        grid-template-columns: 1fr ;
        width: 100%;
    }
    
}

.contactform{
    background-color: #f2f5f4;
    padding: 32px;
    display: flex;
    gap: 16px;
    flex-direction: column;

    input{
        padding: 8px;
        width: 280px;
        height: 40px;
        border: 1px solid #ededed;
    }
}


button{
    @extend %primaryButton;
    margin: 0 auto 0 auto;
}
}