@use "../font.module.scss" as font;
@use "../color.module" as color;

.questionsection {
  display: flex;
  flex-direction: column;
  align-items: center;
   padding: 60px 16px;
  background-color: #f2f5f4;

  .main{
    display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 64px;

        @media screen and (min-width: 888px) and (max-width: 1400px) {
            max-width:865px;
          }
  }
 
  

  
  
  .sectionintro {
    

    h3 {
      font-size: 2rem;
      font-weight: 400;
    }

    p {
      font-size: 1rem;
      color: #575757;
    }

  @media screen and (min-width: 900px) {
      max-width: 868px;
    }

    @media screen and (min-width: 1490px) {
      max-width: 320px;
      
    } 
  }

  .questions {
    @media screen and (min-width: 1490px) {
        width: 800px;
      }
 flex-grow: 1;
    summary {
     
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      font-family: font.$primary-font, sans-serif;
      font-size: 1.2rem;
      list-style: none;
      font-weight: 550;
      transition: 200ms ease-out;

      &::first-letter {
        color: color.$tertiary-color;


      }

      &:hover {
        color: color.$tertiary-color;
      }

      p {
        margin: 0;
      }
    }

    details {
      max-width: 856px;
      
      padding: 16px 32px;
      margin-bottom: 16px;
      font-family: font.$secondary-font, sans-serif;
      font-size: 1rem;
      background-color: color.$primary-color;
      box-shadow: 5px 5px 10px 5px rgb(0 0 0 / 5%);

      &[open]>summary {
        
        color: color.$tertiary-color;
        margin-bottom: 8px;

        .arrow {
          transform: rotate(90deg);
          transform-origin: 50% 50%;
        }
      }

    }
  }

  
}