@use "../font.module.scss" as font;
@use "../color.module" as color;

.servicessection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services {
  padding: 0 64px 64px 64px;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1638px;

  & > * {
    flex-basis: 300px;
    flex-grow: 1;
  }
  @media screen and (max-width: 800px) {
    padding: 0 32px 32px 32px;
  }
}
