@use "../_button.module.scss" as button;
@use "../color.module.scss" as color;

.aboutsection {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .abouttext {
    max-width: 550px;
    padding: 8px;

    h3 {
      font-size: 1.75rem;
    }

    ul {
      padding: 0;

      li {
        list-style: none;
        margin-top: 10px;

        i {
          color: aquamarine;
          margin-inline-end: 4px;
        }
      }
    }
  }
}

.aboutbutton {
  @extend %primaryButton;
  border-radius: 4px;
  height: 48px;
  margin: 8px 0;

  &::after {
    content: "-->";
    margin-inline-start: 4px;
    letter-spacing: 2px;
  }

  &:hover {
    letter-spacing: 0.5px;
  }
}

.numbersection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(223, 223, 223);
  padding: 16px;
  height: 277px;
}

.numbercard {
  span {
    &::before {
      content: "";
      background-image: url("/third/SVG/emoji-smile.svg");
      display: inline-block;
      width: 20px;
      height: 20px;
      background-size: cover;
      color: aquamarine;
    }
  }
}
