.contactcard{
    background-color: #f2f5f4;
    padding: 30px;

    i{
        font-size: 38px;
        font-weight: 400;
        color: #65c0ba;
    }
   h3{
    margin-top: 16px;
   }

    p{
        margin-bottom: 2px;
    }
}